{% extends "base.html"%}
{% block content%}

<h1>{{cats}}</h1>
<ul class="list-group">
    {% for post in category_posts %}
        <li class="list-group-item">
            <a href="{% url 'article_detail' pk=post.pk %}">
                {{ post.title }}
            </a> - {{post.category}} - {{post.author.username}} on {{post.date_posted}} 
            {%if user.is_authenticated%}
            - <a href="{% url 'update_post' post.pk %}">Edit</a> - <a href="{% url 'delete_post' post.pk %}">Delete</a>
            {%endif%}
            <br/>
            {{ post.body|truncatechars:200|safe}}
        </li>
    {% endfor %}
</ul>

{% if not category_posts %}
<p>No posts found.</p>
{% endif %}


{% endblock %}